<html>
<p>You're receiving this e-mail 
because you requested a password reset 
for your account at Weazt.</p>

<p>Please go to the following page and 
choose a new password:</p>

<p><a href="${resetLink}">${resetLink}</a></p>

<br/>
<p>Thanks,</p> 
<p>The Weazt Team</p>
</html>
